.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 20px;
  height: 250px;
  width: 400px;
}
.login p {
  color: red;
}
.login h2 {
  margin-bottom: 20px;
}
.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.login form input {
  margin-bottom: 10px;
}
.login form .inputErrorLogin {
  border: 1px solid red;
}
.login form button {
  cursor: pointer;
  width: 70%;
  margin-left: 30px;
  background-color: #1d6154;
  color: white;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}
.login form button:hover {
  color: #1d6154;
  background-color: antiquewhite;
  border: 1px solid #1d6154;
}

.containerModals {
  display: none;
  position: fixed;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.356);
}
.containerModals .modalGarage {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 50%;
  background-color: whitesmoke;
  border-radius: 5px;
  position: relative;
}
.containerModals .modalGarage .fa-xmark {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.containerModals .modalGarage .garageModal {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.containerModals .modalGarage .garageModal figure {
  width: 20%;
  height: 30%;
  position: relative;
}
.containerModals .modalGarage .garageModal figure img {
  width: 100%;
  height: 100%;
}
.containerModals .modalGarage .garageModal figure span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: black;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.containerModals .modalGarage .garageModal figure span .fa-trash-can {
  color: white;
  font-size: 0.7rem;
}
.containerModals .modalGarage button {
  background-color: white;
  padding: 5px 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.containerModals .modalGarage button:focus {
  background-color: black;
  color: white;
}

.modalAddVehicule {
  display: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 50%;
  background-color: whitesmoke;
  border-radius: 5px;
  position: relative;
}
.modalAddVehicule .fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.modalAddVehicule .fa-xmark {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modalAddVehicule form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 80%;
  gap: 10px;
}
.modalAddVehicule form .containerFile {
  background-color: grey;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.modalAddVehicule form .containerFile label {
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
}
.modalAddVehicule form .containerFile input {
  display: none;
}
.modalAddVehicule form .containerFile img {
  display: none;
  max-width: 100%;
  height: 100%;
}
.modalAddVehicule form .containerFile .fa-image {
  font-size: 3rem;
}
.modalAddVehicule form .containerFile p {
  font-weight: 300;
  font-size: 0.5rem;
}
.modalAddVehicule form .button {
  background-color: white;
  padding: 5px 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.modalAddVehicule form .button:focus {
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: fantasy;
}

body {
  height: 100vh;
  background-color: rgba(161, 159, 159, 0.329);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  height: 80px;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: antiquewhite;
  height: 80px;
  padding: 20px;
}
header nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav a {
  text-decoration: none;
  color: black;
}
header nav a:hover {
  color: purple;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.filters button {
  background-color: white;
  padding: 5px 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.filters button:focus {
  background-color: black;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .galleryStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  width: 25%;
}
main .galleryStyle img {
  height: 90%;
  width: 90%;
}

/*# sourceMappingURL=style.css.map */
